@model first.Models.Student

@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Views/Student/Delete.cshtml";
    Layout = "_Layout";
}

@*<h1>Delete</h1>*@

            

<div class="modal-content">
    <form class="modal-body" asp-action="DeleteEmp">
        <h3>Are you sure you want to delete this?</h3>
        <input type="hidden" asp-for="Id" />
        <input data-toggle="modal" type="submit" value="Delete" class="btn btn-danger" />|
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </form>
</div>