@model first.Models.AccountModel;

@{
    ViewData["Title"] = "Register";
    Layout = "_ViewLayout";
}

<h1>Register</h1>

<h4>AccountModel</h4>
<hr />
<div class="container-fluid justify-content-center align-content-center align-items-center">
    <div class="col-md-4">
        <form method="post" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conform_password" class="control-label"></label>
                <input asp-for="Conform_password" class="form-control" />
                <span asp-validation-for="Conform_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

